<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <meta charset="utf-8" />
    <title></title>
</head>
<body class="mybody">
    <div class="topnav">
        <a class="active" href="testDisplay.html">Home</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">
                Exercises
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="BicepCurls.html">Bicep Curls</a>
                <a href="JumpingJacks.html">Jumping jacks</a>
                <a href="ToeTouch.html">Toe Touches</a>
            </div>
        </div>
        <a href="Stats.html">Stats</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }
    </script>

    <img src="logoCS124Honors.jpg" alt="124 honors logo" class="img124">

    <h1 class="homeHeading">Online Personal Trainer</h1>

    <form action="BicepCurls.html" method="get">
        <button class="button button1"><span>Let's Get Started</span></button>
    </form>

</body>
</html>
